
//
// Breadcrumbs
// --------------------------------------------------
@breadcrumb-b: #d9d9d9;
@breadcrumb-bg: #b4c0c5;
@breadcrumb-active: #e2f0f5;
@breadcrumb-hover: #a3c8d8;
@breadcrumb-text: #ffffff;
@breadcrumb-text-active: #236a84;
.breadcrumb-section{
	background: @breadcrumb-b;
  	.full-width-padding();

	.breadcrumb {
		padding: 10px 5px;
		margin-bottom: 20px;
		list-style: none;
		background-color: @breadcrumb-b;
		border-radius: 0;
	}
	.breadcrumb > li {
		display: inline-block;
	}

	.breadcrumb li a {
		display: block;
		margin-bottom: 0px;

		height: 40px;
		background: #b4c0c5;
		text-align: right;
		padding: 10px 10px 0 40px;
		position: relative;
		text-decoration: none;
		color: @breadcrumb-text;
	}
	.breadcrumb li a:after {
		content: "";
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid #b4c0c5;
		position: absolute; right: -20px; top: 0;
		z-index: 2;
	}
	.breadcrumb li a:before {
		content: "";
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid @breadcrumb-b;
		position: absolute; left: 0; top: 0;
		z-index: 1;
	}
	.breadcrumb li:first-child a {
		padding-left: 10px;
	}
	.breadcrumb li:first-child a:before {
		display: none;
	}
	.breadcrumb li a:hover {
		background: @breadcrumb-hover;
	}
	.breadcrumb li a:hover:after {
		border-left-color: @breadcrumb-hover;
	}

	.breadcrumb > li + li:before {
		padding: 0 5px;
		content: " ";
		color: #3c3c3c;
	}
	.breadcrumb li.active a {
		background: @breadcrumb-active;
		color: @breadcrumb-text-active;
	}
	.breadcrumb li.active a:after {
		border-left-color: @breadcrumb-active;
	}


}
