//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination-wrap {
	float: left;
	text-align: left;
}

.pagination {
	bodrer: none;
	margin: 0;
	width: 100%;

	> li {
		vertical-align: top;
		display: inline-block;
		> a,
		> span {
			position: static;
			margin: 0 5px;
			padding: 7px;
			float: none;
			display: inline-block;
			font-size: 11px;
			width: 34px;
			border: @pagination-border-width solid @pagination-border;
			height: @pagination-height-large;
		}

		&.pagination-prev,
		&.pagination-next {
			> a, > span {
				&:hover,
				&:focus {
					color: @pagination-prev-next-hover-color;
					font-size: 11px;
				}
			}
			&.disabled {
				> a, > span {
					&:hover,
					&:focus {
						background-color: transparent;
						border-color: @pagination-border;
						font-size: 11px;
					}
				}
			}
		}

		&.pagination-prev {
			text-align: left;
			width: auto;

		}
		&.pagination-next {
			text-align: right;
			float: right;
			width: auto;
		}
	}

	> .active > a,
	> .active > span {
		&,
		&:hover,
		&:focus {
			background-color: transparent;
			border-color: @pagination-disabled-color;
		}
	}

	.pagination-size(@pagination-height-base; @pagination-width-base; @pagination-font-size; @grid-gutter-width/4);
}

@media (max-width: @screen-sm-max) {
	@button-height: floor((@padding-large-vertical * 2) + (@btn-font-size * @btn-line-height) + (@btn-border-width * 2));
	.pagination {
		.pagination-size((@button-height - (@pagination-border-width * 2)); @pagination-width-base; @pagination-font-size; @grid-gutter-width/2);
	}
}

@media (max-width: @screen-xs-max) {
	.pagination {
		display: table;
		width: 100%;

		> li {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			> a,
			> span {
				float: none;
			}
		}
		.pagination-size(@pagination-height-large; @pagination-width-large; @pagination-font-size; @grid-gutter-width);
	}

  .pagination-with-pager .pagination-wrap {
    float: none;
  }
}


// Pagination size
.pagination-size(@pagination-height; @pagination-width; @font-size; @next-prev-offset) {
	> li {
		> a,
		> span {
			width: @pagination-width;
			padding: 7px;
			font-size: 11px;
			text-align: center;
		}
		&.pagination-prev {
			> a,
			> span {
				margin-right: @pagination-width/3;
				width: 110px;
				font-size: 11px;
				.border-left-radius(0);
			}
		}

		&.pagination-next {
			> a,
			> span {
				margin-left: @pagination-width/3;
				width: 90px;
				font-size: 11px;
				.border-right-radius(0);
			}
	  	}
	}
}